body {
}

.container-fluid {
    background-color: #E2ECEF;
}

.nav-item {
}

.social-container{
display: flex;
flex-direction: row;
align-content:space-between;
}

img{
width: 100px;
height: 100px;
}